[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
fastapi = "*"
python-dotenv = "*"
aiofiles = "*"
python-magic = "*"
syncedlyrics = "*"
mutagen = "*"
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
torchaudio = {version = "*", index = "downloadpytorch"}
pillow = "*"
demucs = "*"
stable-ts = "*"
jobrouter = {path = "./backend/jobrouter"}
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
